doctype html
html(lang='fr')
	head
	title La carte
	body
	#map(style = { height: "500px" })

script.
	var lazyLoadedData = {};
	var initMap;
	var map;
	var path;
	var myPosition;
	var ligne;
	var figureCourante = null;
	var premierPointFigureCourante = null;
	var ajoutLieu = null;
	var infoWindow;
	var markers = new Array();
	var bounds;

	getUsers();
	document.addEventListener('DOMContentLoaded', function(){ 
		if(navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(positionCourante, erreurPosition);
		}

	}, false);

	//Fonction qui lit le cookie qui a le nom passer en paramètre
	function readCookie(name) {
		var nameEQ = name + "=";
		var ca = document.cookie.split(';');
		for(var i=0;i < ca.length;i++) {
			var c = ca[i];
			while (c.charAt(0)==' ') c = c.substring(1,c.length);
				if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
		}

		return null;
	};

	//Fonction qui initialise la carte et des éléments d'affichage
	function initMap() {
		bounds = new google.maps.LatLngBounds();
		myPosition = {lat: 46.792343, lng: -71.26479990000001};
		map = new google.maps.Map(document.getElementById('map'), {
		zoom: 1 //TODO changer
	});

		getCollections(0);
		map.addListener('click', ClickMap);
	};
	
	//Fonction qui retourne la position courante
	function positionCourante(position) {
		var infopos = "Position déterminée :\n";
		infopos += "Latitude : " + position.coords.latitude +"<br>";
		infopos += "Longitude: " + position.coords.longitude+"<br>";
		// on peut aussi obtenir l'altitude, mais nécessite un GPS...
		infopos += "Altitude : " + position.coords.altitude +"<br>";

		latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

		// Ajout d'un marqueur à la position trouvée
		var marker = new google.maps.Marker({
			position: latlng,
			map: map,
			icon: {scaledSize: new google.maps.Size(58, 48), "url": "http://www.clker.com/cliparts/U/M/C/p/x/C/google-maps-pin-green-th.png"},
			title:"Votre position"
		});

		// Permet de centrer la carte sur la position latlng
		map.panTo(latlng);

	};

	//Fonction qui ajoute et affiche un infoWindow sur les éléments de la carte.
	function addInfoWindow(marker, content, position, isOpen) {
		if (position.lat != null && position.lat != ""){
			var unInfoWindow = new google.maps.InfoWindow;

			unInfoWindow.setContent(content);

			unInfoWindow.setPosition(position);
			
			google.maps.event.clearListeners(marker, 'click');
			marker.addListener('click', function(evt) {
				infoWindow.close();
				infoWindow = unInfoWindow
				infoWindow.open(map, marker);

				setTimeout(function () {

					if($("btnSupprimer") != null)
					{
						$("btnSupprimer").removeEventListener('click', function() {
							supprimerLieu();
							marker.setMap(null);
							infoWindow.close();
						});
						
						$("btnSupprimer").addEventListener('click', function()
						{
							supprimerLieu();
							marker.setMap(null);
							infoWindow.close();
						});
					}
					else
					{
						console.log("btnSupprimer null");
					}
					if($("btnPartage") != null){
						$("btnPartage").removeEventListener('click', function(){
							var idPersonne = $("idPersonne").value;
							partagerLieu(idPersonne);
						});
						$("btnPartage").addEventListener('click', function(){
							var idPersonne = $("idPersonne").value;
							partagerLieu(idPersonne);
						});
					}
					else
					{
						console.log("btnPartage null");
					}
				}, 500);
				
			});

			if (infoWindow != null){
				infoWindow.close();
			}
				
			
			if (isOpen)
			{
				infoWindow = unInfoWindow;
				infoWindow.open(map);
			}
		}			
		
	}

	//Fonction qui permet l'ajout de point
	function addMarker(latlng) {
		var icon = {scaledSize: new google.maps.Size(30, 48),"url" : "http://www.clker.com/cliparts/W/0/g/a/W/E/map-pin-red-th.png"};
		
		if ($('collections').options[$('collections').selectedIndex].text == "Import")
		{
			icon = {scaledSize: new google.maps.Size(30, 48),"url" : "http://www.clker.com/cliparts/o/t/F/J/B/k/google-maps-th.png"};
		}

		var marker = new google.maps.Marker({
			position: latlng,
			map: map,
			title: "Point",
			icon: icon
		});
		ligne = marker;
		ligne.figureCourante = "point";
		markers.push(marker);

		//Ajout d'un infoWindow au point
		addInfoWindow(marker, "<div>" +
									"<label for='nomLieu'>Nom:</label><input id='nomLieu'></input></br>"+
									"<label for='commentaire'>Commentaires:</label><input id='commentaire'></input></br>"+
									"<label for='type'>Type:</label><input id='type' value='point'></input></br>"+
									"<input id='btnAjouterPt' type='button' onClick = 'ajouterLieu(true)' value='Ajouter'>"+
									"<input type='button' value='Supprimer' onClick='supprimerLieu(ligne)'>"+ 
								"</div>",
								latlng,
								true);
	}

	//fonction qui ajoute un marker a la liste de marker global
	function ajouterPoint(marker){
		markers.push(marker);
	}

	//Fonction qui gère les erreurs
	function erreurPosition(error) {
		var info = "Erreur lors de la géolocalisation : ";
		switch(error.code) {
			case error.TIMEOUT:
				info += "Timeout !";
			break;
			case error.PERMISSION_DENIED:
				info += "Vous n’avez pas donné la permission";
			break;
			case error.POSITION_UNAVAILABLE:
				info += "La position n’a pu être déterminée";
			break;
			case error.UNKNOWN_ERROR:
				info += "Erreur inconnue";
			break;
		}
	}

	//Méthode qui crée notre requête ajax et la retourne
	function ajax(method, uri)
	{
		var xhr = new XMLHttpRequest();
		xhr.open(method, uri);
		xhr.setRequestHeader('Authorization', 'Bearer ' + readCookie("token"));
		xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

		return xhr;
	}


	/** COLLECTIONS **/
	//Fonction qui récupère toutes les collections 
	function getCollections(index) {
		viderCollections();
		var xhr = ajax("GET", "/api/collections");
		xhr.onload = function() {
			if (xhr.status.toString()[0] === "2") {
				var select = $("collections");

				var result = JSON.parse(xhr.responseText)[0];
				for (var i = 0; i < result.length; i++)
				{
					var option = document.createElement("option");
					option.text = result[i].nom;
					option.value = result[i]._id;
					
					select.appendChild(option);
				}
				select.selectedIndex = index;
			}
			else 
			{
				console.log("BAD CODE");
				console.log(xhr);
			}
		}

		xhr.send();
	}

	//Fonction qui vide la collection sélectionner
	function viderCollections(){
		var select = $("collections");
		var nbrOptions = select.options.length;
		for(i=nbrOptions; i > 0;i--)
		{
			select.remove(i);
		}
	}

	//Fonction qui permet d'ajouter une nouvelle collection
	function AjouterCollection() {

		var select = $("collections");
		var nomCollection = $('txtNomCollection').value.trim();
		$('txtNomCollection').value = "";
		if (nomCollection != null && nomCollection != "")
		{

			var xhr = ajax("POST", "/api/collections");
			xhr.onload = function() {
				if (xhr.status.toString()[0] === "2") {

					var result = JSON.parse(xhr.responseText);
					result = result.collection;
					var option = document.createElement("option");
					option.text = result.nom;
					option.value = result._id;
					select.appendChild(option);
					select.value = option.value;
					alert("Ajouté avec succès.");
				}
				else 
				{
					console.log("BAD CODE");
					console.log(xhr);
				}
			}

			xhr.send(JSON.stringify({"nom":nomCollection}));
		}
		else
		{
			alert("Le nom ne doit pas être vide.");
		}
	}

	//Méthode qui permet de modifier le nom de la collection
	function modifierCollection()
	{
		var collectionSelectionner = $('collections').value.trim();
		var nouveauNom = $('txtNomCollection').value.trim();
		var index = $('collections').selectedIndex;
		console.log(collectionSelectionner);
		if(collectionSelectionner != "Aucune" && nouveauNom != "" && nouveauNom != null)
		{
			var xhr = ajax("PUT", "/api/collections/"+collectionSelectionner);
			xhr.onload = function(){
				console.log(xhr);
			}
			xhr.send(JSON.stringify({"nom":nouveauNom}));
			getCollections(index);
		}
	}

	//Fonction qui permet de convertir un objet latLng en objet coordonnée de google
	function convertToCoord(latLngs) {
		var newCoords = [];
		for (var i = 0; i < latLngs.length; i++)
		{
			var lat = latLngs[i].lat;
			var newLat = Number(lat);

			if (isNaN(newLat))
			{
				newLat = Number(lat.replace(",", "."));
			}

			var lng = latLngs[i].lng;
			var newLng = Number(lng);
			if (isNaN(newLng))
			{
				newLng = Number(lng.replace(",", "."));
			}

			newCoords.push(new google.maps.LatLng(newLat, newLng));
		}

		return newCoords;

	}

	//Fonction qui recharge les collections lorque l'item sélectionner change 
	function autreCollection() {
	var idCollection = $("collections").value;
	reinitialiser();
	figureCourante = null;
	ligne = null;
	markers = [];

	if (idCollection != null && idCollection != "" && idCollection !="Aucune")
	{
		var xhr = ajax("GET", "/api/collections/" + idCollection);
		xhr.onload = function() {
			if (xhr.status.toString()[0] === "2") 
			{ 
				var collection = JSON.parse(xhr.responseText).collection;

				for (var i = 0; i < collection.locations.length; i++)
				{
					var location = collection.locations[i];
					if (location.latlng.length == 1)
					{
						location.latlng = {"lat" : Number(location.latlng[0].lat), "lng": Number(location.latlng[0].lng)};
					}
					else
					{
						location.latlng = convertToCoord(location.latlng);
					}

					if (location.type == "point") {
						figureCourante = "point";
						ligne = location.latlng;
						ligne.figureCourante = "point";
						
						Terminer(location, false);
					}
					else if (location.type == "ligne") 
					{
						faireLigne(location.latlng[0]);

						figureCourante = "ligne";
						addLatLng(location.latlng[0]);
					} 
					else
					{
						faireForme(location.latlng[0]);
						figureCourante = "polygone";
						addLatLng(location.latlng[0]);
					}

					for (var j = 1; j < location.latlng.length; j++)
					{
						//var newLatlng = new google.maps.LatLng(Number(location.latlng[j].lat), Number(location.latlng[j].lng));
						addLatLng(location.latlng[j]);
					}
					
					if (ligne != null && location.type != "point")
					{
						Terminer(location);
					}	
										}
					figureCourante = null;
					ligne = null;
				if (infoWindow != null) 
				{
					infoWindow.close();
				}
			}
			else 
			{
				figureCourante = null;
				alert("Erreur côté serveur");
				console.log(xhr);
			}
		}
		xhr.send();
		}
	}

	//Fonction qui permet de supprimer une collection
	function supprimerCollection() {
		
		var idCollection = $("collections").value;

		if (idCollection != null && idCollection != "" &&
			idCollection != "Aucune")
		{

			var xhr = ajax("DELETE", "/api/collections/" + idCollection);
			xhr.onload = function() {
				if (xhr.status.toString()[0] === "2") {
					var select = $("collections");

					for (var i = 0; i < select.length; i++)
					{
						if (select[i].value == idCollection)
						{
							select.removeChild(select.childNodes[i]);
						}
					}

					select.value = "Aucune";
					select.onchange();
					alert("Supprimé avec succès");
				}
				else 
				{
					alert("Erreur côté serveur");
					console.log(xhr);
				}
			}

			xhr.send();
		}
		else
		{
			alert("Veuillez choisir une collection");
		}
	}
	/** FINI COLLECTIONS **/
	
	//Fonction qui permet de trouver le milieu d'une forme
	function trouverMillieu()
	{
		var coordonnee = {};
		
		if (ligne != null)
		{

			if (figureCourante == "polygone")
			{
				var polygonePath = ligne.getPath().getArray();
				for (i = 0; i < polygonePath.length; i++) {
					bounds.extend(polygonePath[i]);
				}

				coordonnee = bounds.getCenter();
				bounds = new google.maps.LatLngBounds();
			} 
			else if (figureCourante == "ligne")
			{
				coordonnee = ligne.getPath().getArray()[(length / 2).toFixed()]
			}
			else
			{
				try {
					coordonnee = { "lat" : ligne[0].lat(), "lng": ligne[0].lng()};
					
				}
				catch (err)
				{
					try{
						coordonnee = { "lat" : ligne.getPosition().lat(), "lng": ligne.getPosition().lng()};
					}
					catch (err)
					{
						try{
							coordonnee = { "lat" : ligne.lat, "lng": ligne.lng};
						}
						catch (err)
						{
							try{
								coordonnee = { "lat" : ligne.lat(), "lng": ligne.lng()};
							}
							catch (err)
							{

								coordonnee = { "lat" : ligne[0].lat(), "lng": ligne[0].lng()};
							}
						}
					}
				}
			}
		}
		return coordonnee;
	}

	//Fonction qui permet de partager la collection sélectionner
	function PartagerCollection()
	{
		var collectionParent = $('collections').value;
		var partageAvec = $('partagerCollAvec').value;
		if (collectionParent != null &&
			collectionParent != "Aucune" &&
			collectionParent != "" &&
		 	partageAvec != null &&
		 	partageAvec != "")
		{
			// PARTAGER LA COLLECTION.

			var xhr = ajax("POST", "/api/collections/" + collectionParent+ "/" + partageAvec);
			xhr.onload = function() {
				if (xhr.status.toString()[0] === "2") {

					var result = JSON.parse(xhr.responseText);
					result = result.collection;
					alert("Collection partagée avec succès.")
				}
				else 
				{
					alert("Erreur côté serveur.");
					console.log(xhr);
				}
			}

			xhr.send();
		}
		else
		{
			alert("Veuillez choisir une collection et la personne avec qui vous voulez partager.");
		}
	}

	//Fonction qui remplis la liste d'utilisateur
	function createPartageListe()
	{
		var html = "";
		for (var i = 0; i < lazyLoadedData.Membres.length; i++)
		{
			html +=  "<option value='"+lazyLoadedData.Membres[i]._id+"'>" + lazyLoadedData.Membres[i].nom + "</option>";
		}

		return html;
	}

	//Fonction qui gère l'ajout d'une ligne ou d'une forme
	function Terminer(location, setAjoutPoint) {
		if ($("collections").value != null &&
			$("collections").value != "" &&
			$("collections").value != "Aucune")
		{
			var coordonnee = trouverMillieu();		

			if (location != null)
			{
				if (location.nom != null)
				{
					if (ligne != null && ligne.figureCourante == "point")
					{
						addMarker(coordonnee);
						ligne = markers[markers.length - 1];
					}
					//addInfoWindow(ligne, "<div name=''> Le content de " + figureCourante + ". Banana" + "</br></div>", coordonnee, true);
					ligne.figureCourante = figureCourante;
					addInfoWindow(ligne, "<div id='"+location._id+"'>" +
											"<label for='nomLieu'>Nom:</label><input id='nomLieu' value='"+location.nom+"'></input></br>"+
											"<label for='commentaire'>Commentaires:</label><input id='commentaire' value='"+location.commentaire+"'></input></br>"+
											"<label for='type'>Type:</label><input id='type' value='"+location.type+"'></input></br>"+
											"<label>Partager avec : </label><select id='idPersonne'>" + createPartageListe() + "</select></br>" +
											"<input id='btnPartage' type='button' value='Partager'></input></br>"+ 
											"<input id='btnSupprimer' type='button' value='Supprimer'></input>"+ 
											"<input id='btnModifier' type='button' value='Modifier' onClick='modifierLieu()'></input>"+
											"<input id ='latlng' type='hidden' value='"+location.latlng+"'></input>"+
										"</div>",
											coordonnee,
											true);
				}
				figureCourante = null;	
			}
			else
			{
				if (setAjoutPoint == null || setAjoutPoint)
				{
					if (ligne != null && ligne.figureCourante == "point")
					{
						addMarker(coordonnee);
						ligne = markers[markers.length - 1];
					}
					//addInfoWindow(ligne, "<div name=''> Le content de " + figureCourante + ". Banana" + "</br><input type='button' value='Supprimer' onClick='supprimerLieu()'></div>", coordonnee, true);
					ligne.figureCourante = figureCourante;

					addInfoWindow(ligne, "<div>" +
											"<label for='nomLieu'>Nom:</label><input id='nomLieu'></input></br>"+
											"<label for='commentaire'>Commentaires:</label><input id='commentaire'></input></br>"+
											"<label for='type'>Type:</label><input id='type' value='"+figureCourante+"'></input></br>"+
											"<input type='button' value='Ajouter' onClick='ajouterLieu(false)'>"+
											"<input type='button' value='Supprimer' onClick='supprimerLieu(ligne)'>"+ 
										"</div>",
											coordonnee,
											true);

				}

				figureCourante = null;	
			}
			try {
				ligne.getTitle();	
				
			}
			catch (err)
			{
				markers.push(ligne);	

			}
			
		}
		else 
		{
			alert("Veuillez choisir une collection.");
		}				
	}

	/** LIEUX **/
	
	//Fonction qui permet d'ajouter un lieu
	function ajouterLieu(isMarker) {
		var collectionParent = $('collections').value;
		if (collectionParent != "Aucune")
		{
			figureCourante = ligne.figureCourante;
			var nom = $('nomLieu').value.trim();
			var commentaire = $('commentaire').value.trim();
			var latlng;
			if(isMarker){
				latlng = [{ "lat" : ligne.getPosition().lat(), "lng": ligne.getPosition().lng()}];
			}
			else
			{
				latlng = ligne.getPath().getArray();
			}

			var center = trouverMillieu();
			
			if (nom != null && nom != "" &&
				commentaire != null && commentaire != "" &&
				figureCourante != null && figureCourante != "" &&
			 	latlng != null && latlng.length > 0)			
			 {
				var xhr = ajax("POST", "/api/lieux/" + collectionParent);
				xhr.onload = function() {
					if (xhr.status.toString()[0] === "2") {
						
						markers.push(ligne);
						var result = JSON.parse(xhr.responseText);						

						autreCollection();
						figureCourante = null;
						ligne = null;
						alert("Ajouté avec succès.");
						

					}
					else 
					{
						markers.splice(-1,1);
						alert("Erreur côté serveur.");
						console.log(xhr);
					}
				}

				xhr.send(
					JSON.stringify(
						{	
							"nom":nom, 
							"commentaire": commentaire,
							"type": figureCourante,
							"latlng": latlng
						})
				);

			}
			else
			{
				alert("Tous les champs doivent être remplis.");
			}
		 }
	}

	//Fonction qui permet de supprimer un lieu
	function supprimerLieu() {
		// La ligne qui suit permet de récupérer l'id d'un lieu dans le div principal de l'infoWindow
		var idLieuSuppr = infoWindow.getContent().substr(infoWindow.getContent().indexOf("'")+ 1).substr(0, infoWindow.getContent().substr(infoWindow.getContent().indexOf("'")+ 1).indexOf("'"));
		var xhr = ajax("DELETE", "/api/lieux/" + idLieuSuppr);
		xhr.onload = function() {
			if (xhr.status.toString()[0] === "2") {
				alert("Le lieu à été supprimer.");
			}
			else 
			{
				alert("Erreur côté serveur.");
				console.log(xhr);
			}
		}

		xhr.send();
	}

	//Fonction qui permet de modifier un lieu
	function modifierLieu() {
		// La ligne qui suit permet de récupérer l'id d'un lieu dans le div principal de l'infoWindow
		var idLieu = infoWindow.getContent().substr(infoWindow.getContent().indexOf("'")+ 1).substr(0, infoWindow.getContent().substr(infoWindow.getContent().indexOf("'")+ 1).indexOf("'"));
			var nom = $('nomLieu').value.trim();
			var commentaire = $('commentaire').value.trim();
			var type = $("type").value.trim();

			var latlngString = $("latlng").value;
			var latLngs = latlngString.split("),");
			var objetLatLng = new Array();
			
			var vraiLat = new Array();
			var vraiLng = new Array();

			var newCoords = new Array();

			for(i=0;i<latLngs.length;i++)
			{
				latLngs[i] = latLngs[i].replace("(","");
				latLngs[i] = latLngs[i].replace(")","");

				objetLatLng.push(latLngs[i].split(","));
				
				vraiLat.push(Number(objetLatLng[i][0]));
				vraiLng.push(Number(objetLatLng[i][1]));
				if (isNaN(vraiLng[i]))
				{
					newLng = Number(vraiLng[i].replace(",", "."));
				}

				newCoords.push(new google.maps.LatLng(vraiLat[i], vraiLng[i]));
			}

			var center = trouverMillieu();
			if (nom != null && nom != "")
			{
				var xhr = ajax("PUT", "/api/lieux/" + idLieu);
				xhr.onload = function() {
					if (xhr.status.toString()[0] === "2") {
						
						var result = JSON.parse(xhr.responseText);

						ligne = null;

					}
					else 
					{
						console.log("BAD CODE");
						console.log(xhr);
					}
				}

				xhr.send(
					JSON.stringify(
						{	
							"nom":nom, 
							"commentaire": commentaire,
							"latlng":newCoords,
							"type": type,
						})
				);
			} 
	}
	//Fonction qui permet de partager un lieu
	function partagerLieu(idPersonne){
		// La ligne qui suit permet de récupérer l'id d'un lieu dans le div principal de l'infoWindow
		var idLieu = infoWindow.getContent().substr(infoWindow.getContent().indexOf("'")+ 1).substr(0, infoWindow.getContent().substr(infoWindow.getContent().indexOf("'")+ 1).indexOf("'"));
		var xhr = ajax("POST", "/api/lieux/" +idLieu+ "/" + idPersonne);
			xhr.onload = function() {
				if (xhr.status.toString()[0] === "2") {

					var result = JSON.parse(xhr.responseText);
					result = result.collection;
					alert("Le lieu à été partager.");
				}
				else 
				{
					alert("Erreur côté serveur.");
					console.log(xhr);
				}
			}

			xhr.send();
	}

	/** END LIEUX **/

	//Fonction qui retourne tous les utilisateurs
	function getUsers(){

		var xhr = new XMLHttpRequest();
		xhr.open('GET', '/api/membres');
		xhr.setRequestHeader('Authorization', 'Bearer ' + readCookie("token"));
		xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		xhr.onload = function() {
			if (xhr.status === 200) {
				var reponse = JSON.parse(xhr.responseText);
				lazyLoadedData.Membres = reponse;
				
				$('partagerCollAvec').innerHTML = createPartageListe();
			}
		}
		xhr.send();
	}

	//Fonction qui retourne le type d'un endroit
	function getTypeEndroit()
	{
		
		var radios = document.getElementsByName('typeEndroit');

		for (var i = 0, length = radios.length; i < length; i++)
		{
			if (radios[i].checked)
			{
				if (radios[i].value != ajoutLieu)
				{
					ligne = null;
				}

				ajoutLieu = radios[i].value;
				return radios[i].value;
				break;
			}
		}
	}

	//Évenement click sur la map pour l'ajout de lieux sur la carte
	function ClickMap(event)
	{
		var typeEndroit = getTypeEndroit();

		if ($('collections').value != null &&
			$('collections').value != "" &&
			$('collections').value != "Aucune")
		{
			if (figureCourante == null)
			{
				ligne = null;
				if (typeEndroit == "point")
				{
					addMarker(event.latLng, "Marker");
				}
				else if (typeEndroit == "ligne")
				{
					faireLigne(event.latLng);
					figureCourante = "ligne";
					addLatLng(event.latLng);
				} else {
					faireForme(event.latLng);
					figureCourante = "polygone";
					addLatLng(event.latLng);
				}
			}
			else {
				addLatLng(event.latLng);
			}
		}
	}

	//Fonction qui ajoute la lattitude et la longitude au path
	function addLatLng(latLng) {
		if (latLng != null && latLng != "")
		{
			path = ligne.getPath();
			path.push(latLng);
		}
	}

	//Fonction qui permet de faire un ligne
	function faireLigne(latLng){
		if (latLng != null && latLng != "")
		{
			var couleur = "#FF0000";
			if ($('collections').options[$('collections').selectedIndex].text == "Import")
			{
				couleur = "#0000ff";
			}

			ligne = new google.maps.Polyline({
			strokeColor: couleur,
			strokeOpacity: 1.0,
			strokeWeight: 3,
			// table des coordonnées à la construction
			path: [latLng],
			// permet la transformation de la forme
			editable: true
			});
			ligne.setMap(map);
			
			google.maps.event.addListener(ligne.getPath(), 'set_at', transformer);
			google.maps.event.addListener(ligne.getPath(), 'insert_at', transformer);
		}
	}
	
	//Fonction qui permet de créer une forme
	function faireForme(latLng){
		if (latLng != null && latLng != "")
		{
			var couleur = "#FF0000";
			if ($('collections').options[$('collections').selectedIndex].text == "Import")
			{
				couleur = "#0000ff";
			}

			ligne = new google.maps.Polygon({
			paths: [latLng],
			strokeColor: couleur,
			strokeOpacity: 0.8,
			strokeWeight: 3,
			fillColor: couleur,
			fillOpacity: 0.35,
			editable: true
			});
			ligne.setMap(map);
			google.maps.event.addListener(ligne.getPath(), 'set_at', transformer);
			google.maps.event.addListener(ligne.getPath(), 'insert_at', transformer);
		}
	}

	//Fonction qui permet de modifer des formes
	function transformer(event) {
		var path = ligne.getPath();
		var len = path.getLength();
		var coordStr = "";
		for (var i=0; i<len; i++) {
			 coordStr += path.getAt(i)+"<br>";
		}
	}
	
	//Méthode qui enlève tous les markers et les formes de sur la carte
	function reinitialiser(){
		for (var i = 0; i < markers.length; i++)
		{
			if (markers[i].figureCourante != null)
			{
				if (infoWindow != null)
					infoWindow.close();
				if (markers[i] != null)
					markers[i].setMap(null);
			}
		}
	}


script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF1L6HbZ3JqXM-8dnOpxbeNrolwVBtmJ8&callback=initMap")
