doctype html
html(lang='fr')
  head
    title.msgtitle #{title}
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
  body
  .inscription
      h1 #{title}
      h2 #{message}
      div.controls
        label#lblLogin(for='nom') Nom: 
        br
        input#txtLogin(type='text', name='nom')
      div.controls
        label#lblMdp(for='passw') Mot de passe: 
        br
        input#txtMdp(type='password', name='passw')
      input#btn(value='Se connecter', onclick="seConnecter()")
      br
      br
      a#btn.btnlien(href="inscription") Inscription
script.
  function $(idElem) {
  return document.getElementById(idElem);
  };

  function seConnecter() {
        var nom = $("txtLogin").value;
        var passw = $("txtMdp").value;
        if(nom != "" && passw != "") {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/authenticate');
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onload = function() {
                if (xhr.status === 200) {
                    createCookie("token",JSON.parse(xhr.responseText).token);
                    window.location.href = "/";
                }
                else {
                    alert('La requête à échouer. Le statut retourner est ' + xhr.status + " " + xhr );
                }
            };
            var user = {"nom":nom, "passw":passw};
            xhr.send(JSON.stringify(user));
        }
        else{
          alert("Vous devez remplir les champs.");
        }    
        return false;
    };
    function createCookie(name,value) {
    var date = new Date();
    date.setTime(date.getTime()+(24*60*60*1000));
    var expires = "; expires="+date.toGMTString();
    document.cookie = name+"="+value+expires+"; path=/";
    }
    function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
    var c = ca[i];
    while (c.charAt(0)==' ') c = c.substring(1,c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
    }
