extends layout
block content
	h1.msgtitle=title
	p.msgtitle Welcome to #{title}
	.sousmenu
		.sousmenudiv
			p Creer une forme
			input(type='radio' name='typeEndroit' value='point' checked="checked" )
			|   Point
			br
			input(type='radio' name='typeEndroit' value='ligne')
			|   Ligne
			br
			input(type='radio' name='typeEndroit' value='polygone')
			|   Polygone
			br
			input(type="button", value="Terminer", id="Terminer", onClick="Terminer()")
		.sousmenudiv
			p Afficher une collection
			select#collections(onChange="autreCollection()")
				option Aucune
		.sousmenudiv
			p Ajouter/Modifier une collection
			label#lblNomCollection(for='NomCollection') Nom collection:  
			input#txtNomCollection(type='text', name='NomCollection')
			br
			input(type="button", value="Ajouter Collection", id="AjouterCollection", onClick="AjouterCollection()")
			input(type="button", value="Modifier la Collection", id="ModifCollection", onClick="modifierCollection()")

		.sousmenudiv
			p Supprimer la collection
			input(type="button", value="Supprimer Collection", id="SupprimerCollection", onClick="supprimerCollection()")
		.sousmenudiv
			p Partager la collection
			select(id="partagerCollAvec")
			input(type="button", value="Partager collection", id="PartagerCollection", onClick="PartagerCollection()")

	
	include carte.pug
	ul(id="lesMembres")
	script.
		function $(idElem) {
			return document.getElementById(idElem);
		}


