doctype html
html(lang='fr')
  head
    title.msgtitle Inscription
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
  body
  .inscription
      div.controls
        label#lblLogin(for='nom') Nom d'utilisateur: 
        br
        input#txtLogin(type='text', name='nom')
      div.controls
        label#lblEmail(for='email') Adresse courriel: 
        br
        input#txtEmail(type='text', name='email')
      div.controls
        label#lblMdp(for='passw') Mot de passe: 
        br
        input#txtMdp(type='password', name='passw')
      input#btn(value='Créer un nouveau compte', onclick='inscrire()')
      a#btn.btnlien(href="connexion") Retour

script.
  function $(idElem) {
  return document.getElementById(idElem);
  };

  function inscrire(){
    console.log("moilsac");
    var nom = $("txtLogin").value;
    var email = $("txtEmail").value;
    var mdp = $("txtMdp").value;
    if(nom != "" && email != "" && mdp != ""){
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/api/membres');
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.onload = function(){
    if(xhr.status === 201){
    console.log(xhr);
    createCookie("token", JSON.parse(xhr.responseText).token);
    window.location.href = "/";
    }
    else{
    alert('La requête à échouer. Le statut retourner est ' + xhr.status + ' ' + xhr);
    console.log(xhr);
    }
    };
    var user = {"nom":nom, "passw":mdp, "email":email};
    xhr.send(JSON.stringify(user));
    }
    else{
    alert("Vous devez remplir les champs.");
    }
    return false;
    };
    function createCookie(name,value) {
    var date = new Date();
    date.setTime(date.getTime()+(24*60*60*1000));
    var expires = "; expires="+date.toGMTString();
    document.cookie = name+"="+value+expires+"; path=/";
    };
    function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
    var c = ca[i];
    while (c.charAt(0)==' ') c = c.substring(1,c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    };
